s3:
 account_number:
 billing_bucket:
 time_zone: Australia/Brisbane
regions:
 - name: ap-southeast-2
keys:
 - account_number    : 
   name              : service.splunk
   aws_access_key    :
   aws_secret_key    : 
   spend_limit       : 10000
   corporate_key     : true
